.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ATL-ATK/CopilotIndices/18.5.39187.10602/CodeChunks.db
.vs/ATL-ATK/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
.vs/ATL-ATK/DesignTimeBuild/.dtbcache.v2
.vs/ATL-ATK/FileContentIndex/2ea628e0-0f70-41d3-8594-eb217a6fa983.vsidx
.vs/ATL-ATK/FileContentIndex/ad64fe03-19fe-47bf-b096-afef15dfc7fa.vsidx
.vs/ATL-ATK/v18/.suo
.vs/ATL-ATK/v18/DocumentLayout.json
.vs/ATL-ATK.slnx/FileContentIndex/1a81f380-7903-404b-8600-1a179ffb61c9.vsidx
.vs/ATL-ATK.slnx/FileContentIndex/8e1450c3-6bdc-4fba-8b56-6cae56bc092e.vsidx
.vs/ATL-ATK.slnx/FileContentIndex/882dde56-351d-4ddf-ae94-7ad566bcea21.vsidx
.vs/ATL-ATK.slnx/FileContentIndex/6804ee5c-3f9f-4042-ab2d-bfcf32aea3ed.vsidx
.vs/ATL-ATK.slnx/FileContentIndex/35545927-1553-4c88-8709-e5e61b684c71.vsidx
.vs/ATL-ATK.slnx/v18/.wsuo
.vs/ATL-ATK.slnx/v18/DocumentLayout.backup.json
.vs/ATL-ATK.slnx/v18/DocumentLayout.json
ATL-ATK/.vs/ATL-ATK/DesignTimeBuild/.dtbcache.v2
ATL-ATK/.vs/ATL-ATK/FileContentIndex/38e3a283-472f-4d04-a213-d324f113275c.vsidx
ATL-ATK/.vs/ATL-ATK/v18/.futdcache.v2
ATL-ATK/.vs/ATL-ATK/v18/.suo
ATL-ATK/obj/ATL-ATK.csproj.nuget.dgspec.json
ATL-ATK/obj/project.assets.json
ATL-ATK/obj/project.nuget.cache
ATL-ATK/obj/Debug/ATL-ATK_MarkupCompile.cache
ATL-ATK/obj/Debug/ATL-ATK_MarkupCompile.i.cache
ATL-ATK/obj/Debug/ATL-ATK.assets.cache
ATL-ATK/obj/Debug/ATL-ATK.csproj.AssemblyReference.cache
ATL-ATK/obj/Debug/ATL-ATK.csproj.CoreCompileInputs.cache
ATL-ATK/obj/Debug/ATL-ATK.csproj.FileListAbsolute.txt
ATL-ATK/obj/Debug/ATL-ATK.dll
ATL-ATK/obj/Debug/ATL-ATK.g.resources
ATL-ATK/obj/Debug/ATL-ATK.GeneratedMSBuildEditorConfig.editorconfig
ATL-ATK/obj/Debug/ATL-ATK.pdb
ATL-ATK/obj/Debug/ATL-ATK.sourcelink.json
ATL-ATK/obj/project.assets.json
ATL-ATK/obj/ATL-ATK.csproj.nuget.dgspec.json
ATL-ATK/bin/publish/ATL-ATK.dll
ATL-ATK/bin/publish/ATL-ATK.pdb
ATL-ATK/obj/project.assets.json
ATL-ATK/obj/Debug/UI/AtkOptionsWindow.baml
ATL-ATK/obj/Debug/ATL-ATK.csproj.FileListAbsolute.txt
ATL-ATK/obj/Debug/ATL-ATK.assets.cache
ATL-ATK/obj/project.nuget.cache
ATL-ATK/bin/publish/ATL-ATK.dll
